{% extends "baseindex.html" %}
{% load static %}
{% block body_block %}
{% endblock %}

        <div class="jumbotron" id="jumbotron">
          <div class ="wrapper">


          </div>


          <hr class="m-y-2">

        </div>

      <div class="container">

        <div class="row" id="appSummary">

          <div class ="wrapper">
            <h1 class="display-21">MyEdTech...</h1>

          </div>
          <p class="display-2">Collect. Create. Collaborate</p>

          </div>

      </div>

      <div class="container" id="about">
      <div class="card-deck-wrapper">
    <div class="card-deck">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-search"></i> Exploration</h4>
        <p class="card-text">Explore and rate learning content from various sources on the web. Review and document learning content covered.</p>

      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-users"></i> Collaborate</h4>
        <p class="card-text">Share content with your instructor and classmates </p>
            <a href="/Connect.php">Connect</a>

      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-tag"></i> Tag</h4>
        <p class="card-text">Save content and create your own artifacts of information and resources</p>

      </div>
    </div>
    </div>
    </div>
          </div>






      <div id="footer">

        <div class="row">

                <h2>Customise Your Learning</h2>

            <p class="lead">Learn at your own pace with your own content</p>

            <p><a href=""><img id="appStoreIcon" src="{% static 'images/Learning4.png'%}"></a></p>



          </div>

      </div>
